@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;300;400;600;800&family=Lexend:wght@100;300;600;800&display=swap');

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Создает 3 колонки в ряд */
  grid-gap: 20px; /* Опционально, задает промежуток между элементами */
  grid-row-gap: 200px;
}
