.imageContainer {
  display: flex;
  justify-content: center;


  @media screen and (max-width:460px) {

    img {
      object-fit: cover;
      width: 95%;
    }
  }

  .overlay {
    position: absolute;
    text-align: center;
    width: 330px;
    height: 265px;
    background-color: #fff;
    margin-top: 180px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    @media screen and (max-width:460px) {
      width: 230px;
    }

    h2 {
      padding: 12px;
      margin-top: 15px;
    }

    p {
      text-align: center;
      padding: 20px;
      padding-top: 1px;
      font-size: 19px;

      @media screen and (max-width:460px) {
        text-align: justify;
        font-size: 12px;
      }
    }
  }
  .link {
    position: absolute;
    font-family: Lexend Peta;
    font-weight: 700;
    border: 2px solid #fff;
    border-color: #fff;
    background-color: #ff3737;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    left: 25%;
    width: 50%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    transition: background-color 0.3s, transform 0.1s;

    @media screen and (max-width:460px) {

      font-size: 20px;
      padding-top: 1%;
    }
  }

  .link:hover {
    background-color: #ff5555; /* Новый цвет при наведении */
  }

  .link:active {
    transform: translateY(1px); /* Опускание при нажатии */
  }
}
