@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;300;400;600;800&family=Lexend:wght@100;300;600;800&display=swap');

.btn {
  font-family: 'Lexend Peta', sans-serif;
  font-weight: 400;
  min-width: 330px;
  min-height: 80px; /* Increased height to accommodate two lines of text */
  border-radius: 12px;
  border: 2px solid #fff;
  border-color: #fff;
  background-color: #fbdb0b;
  cursor: pointer;
  color: #020101;
  font-size: 20px;
  display: flex;
  flex-direction: column; /* Display text in a column */
  justify-content: center; /* Center text vertically */
  align-items: center; /* Center text horizontally */
  transition: background-color 0.3s, transform 0.1s;

  @media (max-width: 560px) {
    min-width: 240px;
    min-height: 64px; /* Adjusted height for smaller screens */
    font-size: 18px;
  }
}

.btn:hover {
  background-color: #d1b33d;
}

.btn:active {
  transform: translateY(1px);
}
