.footer {
  margin: 0 auto;
  max-width: 1330px;

  background-color: #ff3737;
  margin-top: 20px;
  height: 60px; /* Высота футера, укажите желаемую высоту */
  font-family: 'Lexend Peta', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем содержимое по горизонтали */
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff; /* Цвет текста */
  margin: 0; /* Убираем отступы у абзацев */
}
