@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;300;400;600;800&family=Lexend:wght@100;300;600;800&display=swap');

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (max-width: 1120px) {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  @media (max-width: 460px) {
    grid-gap: 0px;
  }

  .leftGrid {
    display: flex;
    flex-direction: column;

    @media (max-width: 1120px) {
      align-items: center;
    }

    .map {
      width: 600px;
      height: 450px;

      @media (max-width: 660px) {
        width: 500px;
        height: 400px;
      }

      @media (max-width: 560px) {
        width: 400px;
        height: 300px;
      }

      @media (max-width: 460px) {
        width: 300px;
        height: 150px;
      }
    }

    p {
      color: #000000;
      padding-top: 15px;
      padding-bottom: 20px;
      font-family: 'Lexend Peta', sans-serif;
      font-size: 24px;
      font-weight: 800;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    @media (max-width: 1120px) {
      p {
        text-align: center;
      }
    }
  }
  .rightGrid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: 50px;

    @media (max-width: 1320px) {
      margin-left: 10%;
    }

    @media (max-width: 1190px) {
      margin-left: 0;
    }

    .gridElement {
      display: grid;
      grid-template-columns: 100px 1fr;
      align-items: center;
      grid-gap: 10px;

      .image_right {
        fill: #fbdb0b;
        width: 100%;
        max-height: 100%;
      }

      h1 {
        font-family: 'Lexend Peta', sans-serif;
        font-size: 24px;
        font-weight: 800;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
      }

      p {
        font-family: 'Lexend Peta', sans-serif;
        font-size: 24px;
        font-weight: 100;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
      }
    }
  }
  .rightGrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Создаем 3 вертикальных ряда */
    grid-template-columns: 1fr; /* Один столбец */
    grid-gap: 20px;
    align-items: center;
    justify-content: center;

    @media (max-width: 460px) {
      justify-items: start;
    }

    .gridElement {
      display: grid;
      grid-template-rows: auto auto; /* Два вертикальных ряда внутри каждого грида */
      align-items: center;
      justify-content: center;
      grid-gap: 0px;

      .image_right {
        text-align: right;
        fill: #fbdb0b;
        width: 100%;
        max-height: 100%;
      }

      h1 {
        color: #1a1702;
        font-family: 'Lexend Peta', sans-serif;
        font-size: 20px;
        font-weight: 800;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;

        @media (max-width: 460px) {
          font-size: 14px;
          line-height: 14px;
        }
      }

      p {
        color: #1f1b02;
        font-family: 'Lexend Peta', sans-serif;
        font-size: 24px;
        font-weight: 100;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;

        @media (max-width: 460px) {
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}
