@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;300;400;600;800&family=Lexend:wght@100;300;600;800&display=swap');

.banner_container {
  background-color: black;
  background-image: url('/images/sliderintro.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  min-width: 70%;
  min-height: 30rem;

  h1 {
    font-family: Lexend Peta;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
    max-width: 529px;
    text-align: center;
    margin-bottom: 50px;
  }
}
